<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.mapper.TOrderMapper">
  <resultMap id="BaseResultMap" type="com.qf.entity.TOrder">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="oid" jdbcType="VARCHAR" property="oid" />
    <result column="creatdata" jdbcType="TIMESTAMP" property="creatdata" />
    <result column="statue" jdbcType="INTEGER" property="statue" />
    <result column="uid" jdbcType="BIGINT" property="uid" />
    <result column="totalprice" jdbcType="DECIMAL" property="totalprice" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="phone" jdbcType="INTEGER" property="phone" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    id, oid, creatdata, statue, uid, totalprice, address, phone, name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qf.entity.TOrder">
    insert into t_order (id, oid, creatdata, 
      statue, uid, totalprice, 
      address, phone, name
      )
    values (#{id,jdbcType=INTEGER}, #{oid,jdbcType=VARCHAR}, #{creatdata,jdbcType=TIMESTAMP}, 
      #{statue,jdbcType=INTEGER}, #{uid,jdbcType=BIGINT}, #{totalprice,jdbcType=DECIMAL}, 
      #{address,jdbcType=VARCHAR}, #{phone,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qf.entity.TOrder">
    insert into t_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="oid != null">
        oid,
      </if>
      <if test="creatdata != null">
        creatdata,
      </if>
      <if test="statue != null">
        statue,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="totalprice != null">
        totalprice,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="name != null">
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="oid != null">
        #{oid,jdbcType=VARCHAR},
      </if>
      <if test="creatdata != null">
        #{creatdata,jdbcType=TIMESTAMP},
      </if>
      <if test="statue != null">
        #{statue,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="totalprice != null">
        #{totalprice,jdbcType=DECIMAL},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qf.entity.TOrder">
    update t_order
    <set>
      <if test="oid != null">
        oid = #{oid,jdbcType=VARCHAR},
      </if>
      <if test="creatdata != null">
        creatdata = #{creatdata,jdbcType=TIMESTAMP},
      </if>
      <if test="statue != null">
        statue = #{statue,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=BIGINT},
      </if>
      <if test="totalprice != null">
        totalprice = #{totalprice,jdbcType=DECIMAL},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qf.entity.TOrder">
    update t_order
    set oid = #{oid,jdbcType=VARCHAR},
      creatdata = #{creatdata,jdbcType=TIMESTAMP},
      statue = #{statue,jdbcType=INTEGER},
      uid = #{uid,jdbcType=BIGINT},
      totalprice = #{totalprice,jdbcType=DECIMAL},
      address = #{address,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.qf.entity.TOrder">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="oid" jdbcType="VARCHAR" property="oid" />
    <result column="creatdata" jdbcType="TIMESTAMP" property="creatdata" />
    <result column="statue" jdbcType="INTEGER" property="statue" />
    <result column="uid" jdbcType="BIGINT" property="uid" />
    <result column="totalprice" jdbcType="DECIMAL" property="totalprice" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="phone" jdbcType="INTEGER" property="phone" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    id, oid, creatdata, statue, uid, totalprice, address, phone, name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qf.entity.TOrder">
    insert into t_order (id, oid, creatdata, 
      statue, uid, totalprice, 
      address, phone, name
      )
    values (#{id,jdbcType=INTEGER}, #{oid,jdbcType=VARCHAR}, #{creatdata,jdbcType=TIMESTAMP}, 
      #{statue,jdbcType=INTEGER}, #{uid,jdbcType=BIGINT}, #{totalprice,jdbcType=DECIMAL}, 
      #{address,jdbcType=VARCHAR}, #{phone,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qf.entity.TOrder">
    insert into t_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="oid != null">
        oid,
      </if>
      <if test="creatdata != null">
        creatdata,
      </if>
      <if test="statue != null">
        statue,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="totalprice != null">
        totalprice,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="name != null">
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="oid != null">
        #{oid,jdbcType=VARCHAR},
      </if>
      <if test="creatdata != null">
        #{creatdata,jdbcType=TIMESTAMP},
      </if>
      <if test="statue != null">
        #{statue,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="totalprice != null">
        #{totalprice,jdbcType=DECIMAL},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qf.entity.TOrder">
    update t_order
    <set>
      <if test="oid != null">
        oid = #{oid,jdbcType=VARCHAR},
      </if>
      <if test="creatdata != null">
        creatdata = #{creatdata,jdbcType=TIMESTAMP},
      </if>
      <if test="statue != null">
        statue = #{statue,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=BIGINT},
      </if>
      <if test="totalprice != null">
        totalprice = #{totalprice,jdbcType=DECIMAL},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qf.entity.TOrder">
    update t_order
    set oid = #{oid,jdbcType=VARCHAR},
      creatdata = #{creatdata,jdbcType=TIMESTAMP},
      statue = #{statue,jdbcType=INTEGER},
      uid = #{uid,jdbcType=BIGINT},
      totalprice = #{totalprice,jdbcType=DECIMAL},
      address = #{address,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>