<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.mapper.TOrderdetailMapper">
  <resultMap id="BaseResultMap" type="com.qf.entity.TOrderdetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="BIGINT" property="uid" />
    <result column="oid" jdbcType="VARCHAR" property="oid" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="pname" jdbcType="VARCHAR" property="pname" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="imgurl" jdbcType="VARCHAR" property="imgurl" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uid, oid, pid, price, pname, number, imgurl
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_orderdetail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_orderdetail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qf.entity.TOrderdetail">
    insert into t_orderdetail (id, uid, oid, 
      pid, price, pname, 
      number, imgurl)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=BIGINT}, #{oid,jdbcType=VARCHAR}, 
      #{pid,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL}, #{pname,jdbcType=VARCHAR}, 
      #{number,jdbcType=INTEGER}, #{imgurl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qf.entity.TOrderdetail">
    insert into t_orderdetail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="oid != null">
        oid,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="pname != null">
        pname,
      </if>
      <if test="number != null">
        number,
      </if>
      <if test="imgurl != null">
        imgurl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="oid != null">
        #{oid,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="pname != null">
        #{pname,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        #{number,jdbcType=INTEGER},
      </if>
      <if test="imgurl != null">
        #{imgurl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qf.entity.TOrderdetail">
    update t_orderdetail
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=BIGINT},
      </if>
      <if test="oid != null">
        oid = #{oid,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="pname != null">
        pname = #{pname,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="imgurl != null">
        imgurl = #{imgurl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qf.entity.TOrderdetail">
    update t_orderdetail
    set uid = #{uid,jdbcType=BIGINT},
      oid = #{oid,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      pname = #{pname,jdbcType=VARCHAR},
      number = #{number,jdbcType=INTEGER},
      imgurl = #{imgurl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <insert id="savelist" parameterType="java.util.List">
    insert into t_orderdetail (uid,oid,pid,price,pname,number,imgurl) values
    <foreach collection="list" item="td" separator=",">
      (#{td.uid,jdbcType=BIGINT}, #{td.oid,jdbcType=VARCHAR}, #{td.pid,jdbcType=INTEGER},
      #{td.price,jdbcType=DECIMAL}, #{td.pname,jdbcType=VARCHAR}, #{td.number,jdbcType=INTEGER},
      #{td.imgurl,jdbcType=VARCHAR})
    </foreach>
  </insert>
</mapper>